.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1400px;
  max-height: 1400px;
  font-family: 'Montserrat', sans-serif;
}

.add-entry-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-entry-container input[type='text'] {
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  padding: 8px;
  border-radius: 25px;
}
.add-entry-container button {
  background-color: #785a9f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 25px;
}

.event-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.event-container span {
  margin-right: 5px;
}

.event-container button {
  background-color: #785a9f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 25px;
}

.calendar-wrapper {
  height: 800px;
  width: 1400px;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #785a9f !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
}

.rbc-event {
  background-color: #785a9f !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
}

.rbc-btn-group {
  font-family: 'Montserrat', sans-serif;
}

.introjs-tooltipbuttons .introjs-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #785a9f;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.introjs-tooltipbuttons .introjs-button.introjs-prevbutton {
  background-color: #785a9f;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.introjs-tooltipbuttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.introjs-tooltipbuttons .introjs-button.introjs-nextbutton {
  background-color: #785a9f;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.introjs-tooltipbuttons .introjs-button.introjs-skipbutton {
  background-color: #785a9f;
  width: 10%;
  text-align: center;
}

.introjs-tooltip {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
}
.introjs-tooltip .introjs-tooltiptext {
  margin-top: 30px;
  font-size: 20px;
}
