@font-face {
  font-family: 'Montserrat';
  src: url(path/to/font/Montserrat-Regular.ttf) format('truetype');
}

.container-login-register {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
  background-color: #f99776;
  position: relative;
}

.business-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  max-width: 800px;
  position: relative;
  transition: 1s ease-in-out;
  padding-left: 5%;
  padding-right: 5%;
}

.business-text,
.login-register-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 6%;
  border: none;
  height: 200px;
}

.business-text:focus {
  outline: none;
}

.business-text {
  font-size: 13px;
}

.image {
  width: 100%;
  height: 100%;
}

.business-label {
  font-size: 15px;
  font-weight: 900;
  color: #0a1a41;
  align-self: flex-start;
  margin-left: 1%;
  margin-top: 18px;
  font-family: 'Montserrat', sans-serif;
}

.login-register-button {
  margin-top: 20px;
  background-color: #785a9f;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  width: 100%;
}

.login-register-button:hover {
  background-color: transparent;
  border: 2px solid #785a9f;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.container {
  margin-top: 20px;
}

.sign-in-user {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 900;
}
.sign-in-user:hover {
  color: #785a9f;
  transition: 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}

.login-register-image {
  position: relative;
}
.show-password {
  position: absolute;
  top: 48.5%;
  right: 7%;
  cursor: pointer;
  font-size: 18px;
  color: #0a1a41;
}
