.business-label {
  font-size: 20px;
  font-weight: 900;
  color: #0a1a41;
}

.business-text {
  height: 25px;
  padding: 8px; /* Adjust the desired padding */
  background-color: white;
  border: none;
  max-width: 483px;
}

.business-text:focus {
  outline: none;
}

.container-login-register {
  background-color: #f99776;
  width: 100vw;
  height: 100vh;
}

.business-container {
  position: fixed;
  top: 50%; /* Adjust the desired distance from the top */
  left: 5%; /* Adjust the desired distance from the left */
  transform: translate(0, -50%); /* Center the container using translation */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Add space between the elements */
  gap: 10px;
  width: 80%;
  max-width: 550px;
}
.login-register-button {
  margin-top: 20px;
  height: 40px;
  background-color: #785a9f;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
}

.login-register-button:hover {
  background-color: transparent;
  border: 2px solid #785a9f;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.container {
  transform: translate(35%, 80%);
}

.sign-in-user {
  color: #ffffff;
  font-size: 18px;
}
.sign-in-user:hover {
  color: #785a9f;
  transition: 0.3s ease-in-out;
}
@media (max-width: 600px) {
  /* Apply the styles when the viewport width is 600px or less */
  .login-register-button {
    width: auto; /* Reset the button width to its original value */
  }

  .business-text {
    width: auto; /* Reset the button width to its original value */
  }
  .showPassword {
    position: fixed;
    top: 50px;
  }

  .showPassword {
    transform: translate(-30px);
  }
}

.showPassword {
  position: fixed;
  top: 130px;
  left: 450px;
  cursor: pointer;
}
