.calendar-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
    max-height: 1400px;
  }

  .calendar-wrapper {
    height: 800px; 
    width: 1400px
  }
