.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.topbar {
  display: flex;
  gap: 25px;
  cursor: pointer;
  height: 9%;
}

.mainContent {
  width: 1200px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  transition: 10s ease-in-out;
}

.create-account,
.sign-in {
  font-size: 30px;
  border: none;
  background-color: transparent;
  position: relative;
  margin: 20px;
  color: #868686;
}
.sign-in-focused,
.create-account-focused {
  font-size: 30px;
  border: none;
  color: #0a1a41;
  position: relative;
  margin: 20px;
}

.sign-in-focused::after,
.sign-in:hover::after,
.create-account-focused::after,
.create-account:hover::after {
  content: '';
  position: absolute;
  background-color: #f99776;
  height: 5px;
  width: 0; /* Initially hide the line */
  left: 50%; /* Position the line in the center */
  bottom: 5px;
  transform: translateX(-50%); /* Center the line horizontally */
  opacity: 1;
  transition: width 0.3s ease;
  transform-origin: center;
}

.sign-in-focused::after,
.sign-in:hover::after {
  width: 100%; /* Show the line when focused or hovered */
  transform: translateX(-50%) translateY(50%); /* Adjust vertical position */
}

.create-account-focused::after,
.create-account:hover::after {
  width: 100%;
  transform: translateX(-50%) translateY(50%); /* Adjust vertical position */
}

.mainContent.slide-in {
  transform: translateX(-100%);
}

.mainContent.slide-out {
  transform: translateX(100%);
}

.slide-in-animation {
  animation: slide-in 0.3s ease-in-out forwards;
}

.slide-out-animation {
  animation: slide-out 0.3s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
