.navbar {
  background-color: pink;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1 !important;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: pink;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px 8px 0px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: pink;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  margin-right: 16px;
}

.connectify {
  position: fixed;
  top: 10;
  left: 2%;
  color: white;
}
