.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: #0a1a41;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
}
.edit-profile {
  color: #0a1a41;
  margin-top: 5%;
}
